/Assignment2/build/
/Test_PE_CSD201/nbproject/private/
/Test_PE_CSD201/src/Assignment2/build/
/Test_PE_CSD201/src/Assignment2/nbproject/private/
/Test_PE_CSD201/build/
/PE_CSD_Real/nbproject/private/
/PE_CSD_Real/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/Basic Web Application/nbproject/private/
/Basic Web Application/build/
/Basic Web/nbproject/private/
/Basic Web/build/
